* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titres : CRIMSON TEXT   */

/* Header */

h1 {
    font-family: "Crimson text";
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    color: #e56100;
    font-size: 1em;
    margin: 1vh auto;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 1vw;
    text-align: center;
    background-color: #f5f5f5;
}

h3 {
    font-weight: 600;
    font-size: 5vw;
    color: #959595;
    width: 95vw;
    margin: auto;
    font-weight: 400;
    margin-bottom: 1vh;
    text-transform: uppercase;
}

h4 {
    font-size: 0.95em;
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    font-size: 1.2em;
}

h6 small {
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 0.5em;
}

#articleTitle {
    text-align: center;
    margin: 0;
    padding: 0;
}

figure {
    background-image: url(/assets/goodboy.jpg);
    width: 100vw;
    height: 40vh;
    background-size: cover;
    width: 100vw;
    height: 30vh;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 !important;
    border-bottom: 1px solid black;
    height: 7vh;
    align-items: center
}

#headerTitle {
    font-family: "Crimson text";
    font-size: 2em;
    text-align: right;
    margin: 0;
    padding: 0;
}

#mailDigest1 {
    font-size: 0.9em;
    padding: 0;
    text-align: right;
    margin: 0;
    margin-right: 1vh;
}

#dkpForm {
    font-size: 1em;
    border: 1px solid black;
    height: 100%;
    display: none;
}

.mailBtn1 {
    height: 70%;
    margin: 0;
    background-color: black;
}

/* Table (author & share) */
#articleSource {
    height: 11vh;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#articleAuthor {
    border-right: 1px solid lightgray;
    margin: 0;
    padding: 0;
    padding-left: 2vh;
    padding-top: 1vh;
    height: 100%;
    align-items: center;
}

#articleAuthor img {
    height: 90%;
}

#authorName1 {
    margin: 0;
    padding: 0;
    text-align: center;

}

#authorName1 p {
    margin: 0;
}

#articleShare1 {
    margin: 0;
    padding: 0;
    padding-top: 2vh;
    align-items: center;
}

#share1 {
    text-decoration: none;
    color: #434343;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 2vh;
    text-align: center;
    padding: 0;
    margin: 0;
}

#articleShare1 ion-icon {
    font-size: 2em;
    border: 1px solid #919191;
    border-radius: 50%;
    margin: 0;
    padding: 3px;
}

#comment {
    text-decoration: none;
    color: #434343;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 2vh;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Article */

#article {
    margin: 4vh auto;
    padding: 0;
    text-align: justify;
    line-height: 2.7vh;
}

.articleTexts {
    font-size: 1.1em;
    font-family: "Crimson Text"
}

/* Table after */

.sectionShare {
    margin: 3vh auto;
}

.btnSocial {
    text-align: center;
    margin-bottom: 4vh;
}

.btn {
    height: 5vh;
    width: 35vw;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 0;
    margin: 0.5vh auto;
    padding: 1vh;
}

.btn-comment {
    background-color: #646464;
}

.btn-share {
    background-color: #3b5998;
}

.btn-tweet {
    background-color: #55acee;
}

.btn-pin {
    background-color: #cb2027;
}

.secondMail {
    text-align: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid lightgray;
}

#mail2 {
    margin: 0;
    padding: 0;
    align-items: center;
}

#mailForm2 {
    height: 100%;
    font-size: 1em;
    padding: 1vh;
}

.mailBtn2 {
    background-color: #FF8D6A;
}

/*    Previous article */

.previousArticle {
    padding: 2vh;
    border-bottom: 1px solid lightgray;
    align-items: center
}

#previousArrow {
    font-size: 3em;
    color: gray;
}

/* Author bio */

#presentationSite {
    padding: 0;
    margin: 0;
    margin-top: 2vh;
    height: 100%;
    padding-left: 1vh;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2vh;
}

#firstTD {
    padding: 0;
    margin: 0;

}

#farmerImg {
    height: 30vw;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

#secondTD {
    width: 40%;
    padding: 0;
    margin: 0;
}

#siteName {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 800;
}

#siteText {
    padding: 0;
    margin: 0;
    width: 90%;
}

/* Recommended */

#recommended {
    border-bottom: 1px solid lightgray;
    padding: 2vh 1.5vh;
    margin: 0;
}

.recommendArticle {
    padding: 0;
    margin: 0;
    text-align: center;
}

#alsoLike {
    font-size: 1em;
}

.recomTitle {
    text-align: center;
    width: 93%;
    line-height: 1.8vh;
}

.recomImg img {
    width: 95%;
}

/* Form */

#response {
    padding-top: 2vh;
}


/* FOOTER CSS BELOW */

.container-fluid {
    padding: 0 !important;

}

footer .row {
    background-color: #464646;
    font-size: 1em;
}

#titleCategories {
    padding-top: 1vh;
    margin: 0;
}

#allCategories {
    padding: 0.2vh 1vh;
}

#allCategories a {
    text-align: center;
    letter-spacing: 1px;
    margin: 0.6vh;
}

#titleCategories p,
#instagram p {
    margin: auto;
    color: #959595;
}

#instagram {
    margin: 0;
    padding: 1vh 0;
}

#instaPictures {
    padding-bottom: 7px;
}

#instaPictures a {
    text-align: center;
    padding-bottom: 1vh;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

a img {
    width: 9vh;
    height: 9vh;
}

#social {
    background-color: #323232;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}

#social a {
    background-color: #464646;
    text-align: center;
    color: white;
    padding: 1vh;
    border-radius: 50%;
}

#social ion-icon {
    font-size: 2em;
}

@media only screen and (min-width : 415px) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 1px;
    }

    h4 {
        font-size: 0.9em;
        margin: 5px;
        letter-spacing: 1.5px;
    }


    .article {
        margin-bottom: 2vh;
        margin-left: 4.5vw;
    }

    .article-img {
        height: 15vh;
    }

    .title-article {
        font-size: 1.4em;
        margin-top: 3vw;
        margin-bottom: 3vw;
        font-weight: 400;
        line-height: 4vw;
    }

    .readmore {
        text-align: right;
        align-content: space-between;
        position: absolute;
        right: 10px;
        bottom: 2px;
    }

    .readmore a {
        text-transform: uppercase;
        color: #f46700;
        font-size: 1em;
    }

    #allCategories a {
        text-align: center;
        margin: auto;
        font-size: 1.5em;
        font-weight: 100;
    }

    a img {
        width: 15vh;
        height: 15vh;

    }

}
