* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titres : CRIMSON TEXT   */

/* Header */

h1 {
    font-family: "Crimson text";
    font-size: 2em;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    text-align: center;
}

.row {
    padding: 0;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    color: #e56100;
    font-size: 1em;
    margin: 1vh auto;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 1vw;
    text-align: center;
    background-color: #f5f5f5;
}

h3 {
    font-size: 4vw;
    color: #3A3E43;
    width: 95vw;
    margin: auto;
    font-weight: 400;
    margin-bottom: 1vh;
    text-transform: uppercase;
    font-weight: 600
}

h5 {
    text-transform: uppercase;
    font-size: 1.2em;
}

h6 small {
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 0.5em;
}

header {
    margin: 0 !important;
    border-bottom: 1px solid rgba(101, 101, 101, 0.3);
    height: 11vh;
    align-items: center;
}

#mailDigest1 {
    font-size: 0.9em;
    padding: 0;
    text-align: right;
    margin: 0;
    margin-right: 1vh;
}

#dkpForm {
    font-size: 1em;
    border: 1px solid black;
    height: 100%;
    display: none;
}
.navSearch {
    display: none;
}
header .mailBtn1 {
    height: 70%;
    margin: 0;
    background-color: black;
}

#articleTitle {
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}

figure {
    background-image: url(../../assets/goodboy.jpg);
    width: 100vw;
    height: 40vh;
    background-size: cover;
    width: 100vw;
    height: 30vh;
    margin: 0;
    padding: 0;
}

/* Table (author & share) */
#articleSource {
    height: 11vh;
    border-top: 1px solid rgb(239, 239, 239);
    border-bottom: 1px solid rgb(239, 239, 239);

}

#articleAuthor {

    border-right: 1px solid rgb(239, 239, 239);
    margin: 0;
    padding: 1vh 0 1vh 1vh;
    align-items: center;
}

#articleAuthor img {
    margin: 0;
    padding: 0;
}

#authorName1 h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
}

#articleShare1 {
    margin: 0;
    padding: 0;
    padding-top: 2vh;
    align-items: center;
}

#articleShare1 a {
    display: none;
}

#share1 {
    text-decoration: none;
    color: #434343;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    padding: 0;
    margin: 0;
}

#comment {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #434343;
    border-radius: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    padding: 0 0.5vw;
}

#comment ion-icon {
    padding: 4px;
}

/* Article */

#article {
    margin: 4vh auto;
    padding: 0;
    text-align: justify;
    line-height: 2.7vh;
}

.articleTexts {
    font-size: 1.3em;
    font-family: "Crimson Text"
}

/* Table after */

.sectionShare {
    margin: 3vh auto;
}

.btnSocial {
    text-align: center;
    margin-bottom: 4vh;
}

.btn {
    height: 5vh;
    width: 35vw;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 3px;
    margin: 0.5vh auto;
    padding: 1vh;
}

.btn-comment {
    background-color: #646464;
}

.btn-share {
    background-color: #3b5998;
}

.btn-tweet {
    background-color: #55acee;
}

.btn-pin {
    background-color: #cb2027;
}

.subscribe {
    font-weight: 600;
}

.secondMail {
    text-align: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid #f5f5f5;
}

#mail2 {
    margin: 0;
    padding: 0;
    align-items: center;
}

#mailForm2 {
    height: 100%;
    font-size: 1em;
    padding: 1vh;
    border-radius: 0;
}

.mailBtn2 {
    background-color: #FF8D6A;
    border-radius: 0;
    height: 100%;
}

/*    Previous article */

.previousArticle {
    display: flex;
    align-items: center;
    padding: 2vh;
    border-bottom: 1px solid #f5f5f5;
    align-items: center;
}

.previousArticle h6 {
    display: flex;
    align-items: center;
}


/* Author bio */

#presentationSite {
    margin: 0;
    margin-top: 2vh;
    height: 100%;
    padding-left: 1vh;
    align-items: center;
    padding: 1vh 0;

}

#firstTD {
    padding: 0;
    margin: 0;
}

#farmerImg {
    width: 90%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

#secondTD {
    width: 40%;
    padding: 0;
    margin: 0;
}

#siteName {
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 1em;
}

#siteText {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Recommended */

#recommended {
    border-top: 1px solid rgb(239, 239, 239);
    padding: 2vh 1.5vh;
    margin: 0;
}

.recommendArticle {
    padding: 0;
    margin: 0;
    text-align: center;
}

#alsoLike {
    text-transform: uppercase;
    font-size: 1em;
}

.recomTitle {
    text-align: center;
    width: 97%;
    line-height: 100%;
    font-size: 0.9em;
    padding-top: 3px;
}

.recomImg img {
    width: 95%;
}

/* Form */

#response {
    padding-top: 1vh;
}

.inputs {
    margin: 5px 0;
}

#textcomment {
    font-size: 0.8em;
    border: 1px solid #e6e6e6;
    border-radius: 0;
}

.info {
    border: 1px solid #e6e6e6;
    margin: 2px 0;
    font-size: 0.8em;
}

.mailBtn1 {
    background-color: black;
    font-size: 0.8em;
    height: 27px;
}

.advertisement {
    display: none;
}

/* FOOTER CSS BELOW */

.container-fluid {
    padding: 0 !important;
}

.footer-up {
    margin: 0;
    padding: 0;
}

.footer-title {
    margin: 0;
    padding: 1vh;
    color: #959595;
    font-size: 1.1em;
}

#allCategories {
    margin: 0;
    padding: 0.2vh 1vh;
}

#allCategories a {
    text-align: center;
    margin: auto;
    padding: 0;
    padding-bottom: 1vh;
    font-size: 1.2em;
    font-weight: 100;
}

#instaPictures {
    text-align: center;
    padding: 0;
    padding-bottom: 2vh;
    margin: 0;
    width: 100vw;
}

.col-footer p {
    margin: 0;
    letter-spacing: 1px;
}

footer {
    background-color: #3A3E43;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

a img {
    width: 9vh;
    height: 9vh;
}

.f-AllAside {
    display: none;
}

#instagram {
    padding: 0;
    margin: 0;
}

.thumbnail-md {
    display: none;
}

#social ion-icon {
    background-color: #3A3E43;
    height: 2vh;
    width: 2vh;
    padding: 1vh;
    border-radius: 50%;
}

#social {
    background-color: #303336;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 6vh;
}

.social-links {
    position: absolute;
    right: 2vw;
}

#social a {
    text-align: center;
    padding: 1vh 0;
    align-items: center;
    margin-right: 2vh;
}

/*----- 
------------------------  TABLETS  ---------------- 
------*/

@media only screen and (min-width : 768px) {

    body {
        font-size: 16px;
        width: 100vw;
    }

    .all-page {
        width: 90vw;
        margin: auto;
    }

    /*  */
    h1 {
        font-size: 1.4em;
        text-align: left;
    }

    h2 {
        font-size: 0.8em;
        letter-spacing: inherit;
    }

    h3 {
        font-size: 1.6vw;
        width: 100%;
        font-weight: bolder;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 1em;
    }

    header {
        height: 40px;
    }

    #mailDigest1 {
        font-size: 0.7em;
    }

    #dkpForm {
        display: flex;
        padding: 0;
        margin: 0;
        border-radius: 0;
        height: 20px;
        font-size: 0.5em;
        padding-left: 5px;
        text-transform: uppercase;
    }
    .navSearch {
        display: flex;
    }
    .form-inline {
        display: flex;
    }

    header .mailBtn1 {
        height: 20px;
        font-size: 0.5em;
        padding: 0;
        border-radius: 0;
    }

    #articleShare1 a {
        display: flex;
    }

    /* Table (author & share) */
    #articleSource {
        height: 40px;
        margin: 20px 0;
    }

    #articleAuthor {
        padding: 1vh 0 1vh 1vh;
    }

    #authorName1 h4 {
        font-size: 0.6em;
    }

    #articleShare1 {
        text-align: right;
    }

    #share1 {
        font-size: 0.5em;
    }

    #comment {
        font-weight: 100;
        font-size: 0.5em;
    }

    .btn-fac1 {
        background-color: #3b5998;
        color: white !important;
        border-radius: 50%;
        margin: 0;
        padding: 3px;
        text-align: center;
    }

    .btn-tweet1 {
        background-color: #55acee;
        color: white !important;
        border-radius: 50%;
        margin: 0;
        padding: 3px;
    }

    .btn-pin1 {
        background-color: #cb2027;
        color: white !important;
        border-radius: 50%;
        margin: 0;
        padding: 3px;
    }

    .advertisement {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        margin-top: 70px;
        display: block;
    }

    .advertisement ion-icon {
        color: white;
        background-color: #5F5F5F;
        font-size: 0.6em;
        padding: 3px;
        border-radius: 50%;
    }

    .addIcon {
        margin: 0;
        padding: 0 70px;
        align-items: center;
    }

    .advertisement a {
        margin: 0;
        text-align: center;
        padding: 0;
        align-items: center;
    }

    .addFollow {
        text-transform: uppercase;
        font-size: 0.4em;
        color: #919191;
        margin: 0;
        padding: 0;
    }

    .imgBtn {
        position: relative;
        margin: 15px 0;
    }

    .advertisement button {
        position: absolute;
        bottom: -4%;
        right: 33%;
        width: 34%;
        margin: 0;
        padding: 4px;
        background-color: #FF8D6A;
        font-weight: 600;
        border: none;
        color: white;
        font-size: 0.4em;
        text-transform: uppercase;
    }

    .addDog {
        width: 70%;
    }

    .addLast {
        margin: 20px 0;
        padding: 0;
        height: 40px;
    }

    .addLogo {
        padding: 0;
        padding-left: 20px;
    }

    .addText {
        line-height: 100%;
        font-size: 0.6em;
        margin: 0;
        padding: 0;
    }

    #addTitle {
        text-transform: uppercase;
        font-weight: bold;
        color: #919191;
        font-size: 0.7em;
        width: 71%;
        margin: 0;
        padding: 0;
    }

    #addStar {
        margin: 0;
        padding: 0;
        color: #a1a1a1;
        font-size: 0.5em;
        width: 71%;
    }

    /* Article */

    #article {
        margin: 0;
        text-align: inherit;
    }

    .articleTexts {
        font-size: 0.7em;
        line-height: 120%;
    }

    .articleTitles {
        font-size: 0.8em;
        font-weight: bolder;
        line-height: 1;
    }

    /*    Previous article */

    .previousArticle {
        padding: 2vh;
        border-bottom: 1px solid #f5f5f5;
        align-items: center
    }

    #farmerImg {
        height: auto;
    }

    #siteName {
        font-weight: 800;
        padding-bottom: 10px;
        font-size: 0.8em;
    }

    #siteText {
        width: 90%;
        font-size: 0.7em;
    }

    .recomTitle {
        padding-top: 5px;
        font-size: 0.45em;
        font-weight: bolder;
    }
    .labelRep{
        font-size: 0.5em;
        font-weight: bolder;
    }

    /* Table after */

    .sectionShare {
        margin: 0;
        padding: 0;
    }

    .btnSocial {
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
        align-items: center;
    }

    .btnSocial p {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 0.4em;
        text-align: right;
    }

    .btnSocial .btn {
        margin: 0;
        padding: 0;
        height: 15px;
        font-size: 0.3em;
        margin-left: 1vw;
    }

    .btnSocial ion-icon {
        font-size: 1.5em;
        margin-right: 0.2vw;
    }

    .secondMail .subscribe {
        font-size: 0.8em;
        font-weight: 600;
    }

    .text-subscribe {
        font-size: 0.4em;
    }


    #mail2 {
        height: 20px;
    }

    #mailForm2 {
        font-size: 0.5em;
        padding: 0;
        padding-left: 5px;
    }

    .mailBtn2 {
        padding: 0;
        margin: 0;
        height: 20px;
        font-size: 0.5em;
    }

    /*    Previous article */

    .previousArticle {
        margin: 5px 0;
        padding: 0;
        border-right: 1px solid #f5f5f5;
    }

    .previousArticle h6 {
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
        font-size: 0.6em;
    }

    .previousArticle div {
        margin: 0;
        padding: 0;
        padding-right: 10px;
        padding-bottom: 15px
    }

    .previousArticle h5 {
        margin: 0;
        padding: 0;
        font-size: 0.4em;
        font-weight: bolder;
    }

    /* Recommended */

    #recommended {
        border-top: 1px solid rgb(239, 239, 239);
        padding: 2vh 1.5vh;
        margin: 0;
        margin-top: 15px;
        position: relative;
    }

    #alsoLike {
        position: absolute;
        text-transform: uppercase;
        font-size: 0.4em;
        top: -5px;
        background-color: #fff;
        padding: 0 8px;
        left: 0;
        font-weight: bolder;
    }
    .recomImg img {
        width: 95%;
    }

    /* Form */
#textcomment {
    font-size: 0.4em;
    height : 100px;
}
    .info {
        margin: auto;
        margin-top: 10px;
        font-size: 0.4em;
        padding: 5px;
    }
    #response .mailBtn1 {
        padding: 0;
        font-size: 0.6em;
    }

    /*  */
    /* -- footer -- */

    footer {
        position: relative;
    }

    footer .col-footer {
        padding: 0;
    }

    .footer-title {
        padding: 0;
        padding-top: 3.5vh;
        padding-left: 1vw;
        padding-bottom: 1vw;
        font-size: 0.8em;
    }

    #allCategories {
        padding: 0;
        margin-right: 30px;
    }

    #allCategories a {
        margin: 0;
        text-align: left;
        font-size: 0.8em;
        border-bottom: 1px solid #4d4d4d;
        padding: 1.2vh 0;
    }

    .f-AllAside {
        display: block;
    }

    .f-aside {
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 1.5vh;
        padding-right: 2vh;
    }

    .f-aside .aside-img {
        padding: 0;
        margin: 0;
        height: 50px;
    }

    .f-aside img {
        padding: 0;
        margin: 0;
        height: 100%;
        width: auto;
    }

    .f-article {
        padding: 0;
    }

    footer .aside-title {
        padding: 0;
        margin: 0;
        color: white;
        font-weight: 200;
        text-transform: capitalize;
        padding-left: 7px;
        font-size: 0.8em;
    }

    .thumbnail-md {
        display: block;
        height: auto;
    }

    #instaPictures a {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    #instaPictures a img {
        padding: 0;
        margin: 0;
        height: 60px;
        width: 100%;
    }

    #social ion-icon {
        background-color: #3A3E43;
        height: 2vh;
        width: 2vh;
        padding: 1vh;
        border-radius: 50%;
    }

    #social {

        height: 5vh;
    }

    .social-links {
        right: 16vw;
    }

    #social a {
        margin-right: 0;
    }

}


/*----
------- DESKTOP --------
----*/

@media only screen and (min-width : 992px) {

    .all-page {
        width: 50vw;
    }

    /* Header */

    h1 {
        font-size: 1.1em;
    }

    h2 {
        background-color: rgba(255, 255, 255, 0);
        font-size: 0.5vw;
        font-weight: 600;
    }

    h3 {
        font-size: 1.2vw;
    }

    header {
        height: 30px;
    }

    #mailDigest1 {
        font-size: 0.5em;
    }

    #dkpForm {

        height: 15px;
        font-size: 0.35em;
    }

    header .mailBtn1 {
        height: 15px;
        font-size: 0.4em;
        padding: 0;
        border-radius: 0;
    }

    /* Article */


    /* Table after */



    /*    Previous article */

#response .mailBtn1 {
    font-size: 0.3em;
    border-radius: 0;
    height: 20px;

}
.addFollow {
 
}
.addIcon {
    padding: 0 40px;
}


    /* ------ FOOTER --------- */
  
    .footer-title {
        font-size: 0.7vw;
    }

    #allCategories a {
        font-size: 0.7vw;
        padding: 12px 0;
    }

    .f-aside {
        margin-bottom: 15px;
        padding-right: 20px;
    }

    .f-aside .aside-img {
        height: 40px;
    }

    footer .aside-title {
        text-transform: capitalize;
        font-size: 0.7vw;
    }

    #instaPictures a img {
        height: 60px;
        width: 65px;
    }


    .social-links {
        right: 18vw;
    }

    #social ion-icon {
        height: 13px;
        width: 13px;
        padding: 10px;
    }
}