* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titres : CRIMSON TEXT   */

/* Header */

h1 {
    font-family: "Crimson text";
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    text-align: center;
}

.row {
    padding: 0;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    color: #e56100;
    font-size: 1em;
    margin: 1vh auto;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 1vw;
    text-align: center;
    background-color: #f5f5f5;
}

h3 {
    font-size: 5vw;
    color: #3A3E43;
    width: 95vw;
    margin: auto;
    font-weight: 400;
    margin-bottom: 1vh;
    text-transform: uppercase;
}


h5 {
    text-transform: uppercase;
    font-size: 1.2em;
}

h6 small {
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 0.5em;
}

#articleTitle {
    font-size: 0.95em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}

figure {
    background-image: url(../../assets/goodboy.jpg);
    width: 100vw;
    height: 40vh;
    background-size: cover;
    width: 100vw;
    height: 30vh;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 !important;
    border-bottom: 1px solid rgba(101, 101, 101, 0.3);
    height: 7vh;
    align-items: center;
}


#mailDigest1 {
    font-size: 0.9em;
    padding: 0;
    text-align: right;
    margin: 0;
    margin-right: 1vh;
}

#dkpForm {
    font-size: 1em;
    border: 1px solid black;
    height: 100%;
    display: none;
}

header .mailBtn1 {
    height: 70%;
    margin: 0;
    background-color: black;
}

/* Table (author & share) */
#articleSource {
    height: 11vh;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#articleAuthor {
    border-right: 1px solid lightgray;
    margin: 0;
    padding: 0;
    padding-left: 2vh;
    padding-top: 1vh;
    height: 100%;
    align-items: center;
}

#articleAuthor img {
    height: 90%;
}

#authorName1 {
    margin: 0;
    padding: 0;
    text-align: center;

}

#authorName1 p {
    margin: 0;
}

#articleShare1 {
    margin: 0;
    padding: 0;
    padding-top: 2vh;
    align-items: center;
}

#share1 {
    text-decoration: none;
    color: #434343;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 2vh;
    text-align: center;
    padding: 0;
    margin: 0;
}

#articleShare1 ion-icon {
    font-size: 2em;
    border: 1px solid #919191;
    border-radius: 50%;
    margin: 0;
    padding: 3px;
}

#comment {
    text-decoration: none;
    color: #434343;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 2vh;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Article */

#article {
    margin: 4vh auto;
    padding: 0;
    text-align: justify;
    line-height: 2.7vh;
}

.articleTexts {
    font-size: 1.1em;
    font-family: "Crimson Text"
}

/* Table after */

.sectionShare {
    margin: 3vh auto;
}

.btnSocial {
    text-align: center;
    margin-bottom: 4vh;
}

.btn {
    height: 5vh;
    width: 35vw;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 3px;
    margin: 0.5vh auto;
    padding: 1vh;
}

.btn-comment {
    background-color: #646464;
}

.btn-share {
    background-color: #3b5998;
}

.btn-tweet {
    background-color: #55acee;
}

.btn-pin {
    background-color: #cb2027;
}

.secondMail {
    text-align: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid lightgray;
}

#mail2 {
    margin: 0;
    padding: 0;
    align-items: center;
}

#mailForm2 {
    height: 100%;
    font-size: 1em;
    padding: 1vh;
}

.mailBtn2 {
    background-color: #FF8D6A;
}

/*    Previous article */

.previousArticle {
    padding: 2vh;
    border-bottom: 1px solid lightgray;
    align-items: center
}

#previousArrow {
    font-size: 3em;
    color: gray;
}

/* Author bio */

#presentationSite {
    padding: 0;
    margin: 0;
    margin-top: 2vh;
    height: 100%;
    padding-left: 1vh;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2vh;
}

#firstTD {
    padding: 0;
    margin: 0;

}

#farmerImg {
    height: 30vw;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

#secondTD {
    width: 40%;
    padding: 0;
    margin: 0;
}

#siteName {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 800;
}

#siteText {
    padding: 0;
    margin: 0;
    width: 90%;
}

/* Recommended */

#recommended {
    border-bottom: 1px solid lightgray;
    padding: 2vh 1.5vh;
    margin: 0;
}

.recommendArticle {
    padding: 0;
    margin: 0;
    text-align: center;
}

#alsoLike {
    font-size: 1em;
}

.recomTitle {
    text-align: center;
    width: 93%;
    line-height: 1.8vh;
}

.recomImg img {
    width: 95%;
}

/* Form */

#response {
    padding-top: 2vh;
}


/* FOOTER CSS BELOW */

.container-fluid {
    padding: 0 !important;
}

.footer-up {
    margin: 0;
    padding: 0;
}

.footer-title {
    margin: 0;
    padding: 1vh;
    color: #959595;
    font-size: 1.1em;
}

#allCategories {
    margin: 0;
    padding: 0.2vh 1vh;
}

#allCategories a {
    text-align: center;
    margin: auto;
    padding: 0;
    padding-bottom: 1vh;
    font-size: 1.2em;
    font-weight: 100;
}

#instaPictures {
    text-align: center;
    padding: 0;
    padding-bottom: 2vh;
    margin: 0;
    width: 100vw;
}

.col-footer p {
    margin: 0;
    letter-spacing: 1px;
}

footer {
    background-color: #3A3E43;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

a img {
    width: 9vh;
    height: 9vh;
}

.f-AllAside {
    display: none;
}

#instagram {
    padding: 0;
    margin: 0;
}

.thumbnail-md {
    display: none;
}

#social ion-icon {
    background-color: #3A3E43;
    height: 2vh;
    width: 2vh;
    padding: 1vh;
    border-radius: 50%;
}

#social {
    background-color: #303336;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 6vh;
}

.social-links {
    position: absolute;
    right: 2vw;
}

#social a {
    text-align: center;
    padding: 1vh 0;
    align-items: center;
    margin-right: 2vh;
}

/*----- 
--------TABLETS-------- 
------*/

@media only screen and (min-width : 768px) {

    body {
        font-size: 14px;
        width: 100vw;
    }

    .all-page {
        width: 85vw;
        margin: auto;
    }


    footer {
        position: relative;
    }

    footer .col-footer {
        padding: 0;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        padding-top: 3.5vh;
        padding-left: 1vw;
        padding-bottom: 0.5vw;
        font-size: 0.8em;
    }

    #allCategories {
        padding: 0;
        margin: 0;
        margin-right: 30px;
    }

    #allCategories a {
        margin: 0;
        text-align: left;
        font-size: 0.8em;
        border-bottom: 1px solid #4d4d4d;
        padding: 1.2vh 0;
    }

    .f-AllAside {
        display: block;
    }

    .f-aside {
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 1.5vh;
        padding-right: 2vh;
    }

    .f-aside .aside-img {
        padding: 0;
        margin: 0;
        height: 50px;
    }

    .f-aside img {
        padding: 0;
        margin: 0;
        height: 100%;
        width: auto;
    }

    .f-article {
        padding: 0;
    }

    footer .aside-title {
        padding: 0;
        margin: 0;
        color: white;
        font-weight: 200;
        text-transform: capitalize;
        font-size: 0.8em;
    }

    .thumbnail-md {
        display: block;
        height: auto;
    }

    #instaPictures a {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    #instaPictures a img {
        padding: 0;
        margin: 0;
        height: 60px;
        width: 100%;
    }

    #social ion-icon {
        background-color: #3A3E43;
        height: 2vh;
        width: 2vh;
        padding: 1vh;
        border-radius: 50%;
    }

    #social {

        height: 5vh;
    }

    .social-links {
        right: 16vw;
    }

    #social a {
        margin-right: 0;
    }

    #social ion-icon {
        height: 2vh;
        width: 2vh;
        padding: 0.5vh;
        border-radius: 50%;
    }
}


/*----
------- DESKTOP --------
----*/

@media only screen and (min-width : 992px) {

    body {
        font-size: 16px;
        width: 100vw;
    }

    .all-page {
        width: 50vw;
        margin: auto;
    }


    /* Header */

    h1 {
        font-size: 1.1em;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    h2 {
        background-color: rgba(255, 255, 255, 0);
        font-size: 0.5vw;
        letter-spacing: inherit;
        font-weight: 600;

    }

    h3 {
        font-size: 1.2vw;
        width: 100%;
        font-weight: bolder;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 1em;
    }

    h5 {}

    h6 small {}

    figure {}

    header {
        height: 30px;
    }

    #headerTitle {}

    #mailDigest1 {
        font-size: 0.5em;
    }

    #dkpForm {
        display: flex;
        padding: 0;
        margin: 0;
        border-radius: 0;
         height: 15px;
        font-size: 0.35em;
        padding-left: 5px;
        text-transform: uppercase;
    }

    header .mailBtn1 {
        height: 15px;
        font-size: 0.4em;
        padding: 0;
        border-radius: 0;
    }

    .mailBtn1 {}

    /* Table (author & share) */

    #articleSource {}

    #articleAuthor {}

    #articleAuthor img {}

    #authorName1 {}

    #authorName1 p {}

    #articleShare1 {}

    #share1 {}

    #articleShare1 ion-icon {}

    #comment {}

    /* Article */

    #article {
        margin: 0;
        padding: 0;
        text-align: inherit;
    }

    .articleTexts {
        font-size: 0.9vw;
        line-height: 1.2vw;
    }

    .articleTitles {
        font-size: 0.9vw;
        font-weight: bolder;
        line-height: 1.2vw;
    }

    /* Table after */

    .sectionShare {
        margin: 0;
        padding: 0;

    }

    .btnSocial {
        margin: 0;
        margin-bottom: 35px;
        padding: 0;
        align-items: center;
    }

    .btnSocial p {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 0.4em;
        text-align: right;
    }



    .btnSocial .btn {
        margin: 0;
        padding: 0;
        height: 15px;
        font-size: 0.3em;
        margin-left: 1vw;
    }

    .btnSocial ion-icon {
        font-size: 1.5em;
        margin-right: 0.2vw;
    }



    .btn {}

    .btn-comment {}

    .btn-share {}

    .btn-tweet {}

    .btn-pin {}

    .secondMail .subscribe {
        font-size: 0.8em;
        font-weight: 600;
    }

    .text-subscribe {
        font-size: 0.4em;
    }


    #mail2 {
        padding: 0;
        margin: 0;
        height: 20px;
    }

    #mailForm2 {
        font-size: 0.4em;
        padding: 0;
        padding-left: 5px;
        border-radius: 0;
    }

    .mailBtn2 {
        padding: 0;
        margin: 0;
        height: 20px;
        font-size: 0.4em;
        border-radius: 0;
    }

    /*    Previous article */

    .previousArticle {
        margin: 5px 0;
        padding: 0;
        border-right: 1px solid #e6e6e6;
    }

    .previousArticle h6 {
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
        font-size: 0.6em;
    }

    .previousArticle div {
        margin: 0;
        padding: 0;
        padding-right: 10px;
        padding-bottom: 15px
    }

    .previousArticle h5 {
        margin: 0;
        padding: 0;
        font-size: 0.4em;
        font-weight: bolder;
    }

    #previousArrow {}

    /* Author bio */

    #presentationSite {}

    #firstTD {}

    #farmerImg {}

    #secondTD {}

    #siteName {}

    #siteText {}

    /* Recommended */

    #recommended {}

    .recommendArticle {}

    #alsoLike {}

    .recomTitle {}

    .recomImg img {}

    /* Form */

    #response {}


    .footer-title {
        font-size: 0.7vw;
    }

    #allCategories a {
        font-size: 0.7vw;
        padding: 12px 0;
    }

    .f-aside {
        margin-bottom: 15px;
        padding-right: 20px;
    }


    .f-aside .aside-img {
        height: 40px;
    }

    footer .aside-title {
        text-transform: capitalize;
        font-size: 0.7vw;
    }

    #instaPictures a img {
        height: 60px;
        width: 65px;
    }


    .social-links {
        right: 18vw;
    }

    #social ion-icon {
        height: 13px;
        width: 13px;
        padding: 10px;
    }
}
