* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titre : CRIMSON TEXT   */

@media only screen and (min-width : 320px) {

    /* FOOTER CSS BELOW */

    .container-fluid {
        padding: 0 !important;
    }

    .container-fluid .row {
        background-color: #464646;
        font-size: 12px
    }

    #titleCategories {
        padding-top: 1vh;
        margin: 0;
    }

    #allCategories {
        padding: 0.2vh 1vh;
    }

    #allCategories a {
        text-align: center;
        letter-spacing: 1px;
        margin: 0.8vh;
    }

    #titleCategories p,
    #instagram p {
        margin: auto;
        color: #959595;
    }

    #instagram {
        margin: 0;
        padding: 1vh 0;
    }

    #instaPictures {
        padding-bottom: 7px;
    }

    #instaPictures a {
        text-align: center;
        padding-bottom: 1vh;
    }

    footer a {
        text-decoration: none;
        color: #ffffff;
    }

    a img {
        width: 9vh;
        height: 9vh;
    }

    #social {
        background-color: #323232;
        height: 8vh;
        justify-content: space-around;
        align-items: center;
    }

    #social a {
        background-color: #464646;
        text-align: center;
        color: white;
        padding: 1vh;
        border-radius: 50%;
    }

    #social ion-icon {
        font-size: 2em;
    }

}
