* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    overflow-y: scroll;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titre : CRIMSON TEXT   */

@media only screen and (min-width : 320px) and (max-width : 500px) {
    
/* Header */
header {
    border-bottom:2px solid black;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height:5vh;
}

header > * {
    display: inline-block;
}

#headerTitle{
    position:relative;
    top:1vh;
}

#mailDigest1{
    position:relative;
    top:1vh;
    font-size:8px;
    left:25%;
}

#mail1{
    position:relative;
    right:10%;
    width:25%;
    font-size:8px;
    float:right;
    top:1vh;
}

#mailInput1{
    width:75%;
    height:20px;
    border: 2px solid black;
}

#mailButton1{
    background-color: black;
    border:5px solid black;
    color:white;
    width:50px;
    height:20px;
}
   
/* Title */
#articleTitle{
    height:10vh;
    text-align:center;
}

#titleCategory{
    position:relative;
    color:#f46700;
    font-size:8px;
    top:1vh;
}

#titleText{
    font-weight: bold;
    color:grey;
}

/* Article Image*/
figure{
    height:30vh;
}

#articleImage{
    height:30vh;
    width:100%;
}

/* Table (author & share) */
#tableBefore{
    height:5vh;
    width:100%;
    text-align:center;
}

#articleAuthor{
    border-top:1px solid lightgray;
    border-right:1px solid lightgray;
    border-bottom:1px solid lightgray;
    width:50%;
}

#authorImage1{
    position: relative;
    left:5px;
    float:left;
    height:5vh;
    border-radius:50%;
}

#authorName1{
    position:relative;
    top:1vh;
}

#articleShare1{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    width:50%;
}

#comment1{
    display: inline-block;
    position: relative;
    background-color: lightgrey;
    border-radius:5px;
    bottom:10px;
}

/* 50 VH used until now*/

/* Article */

#article{
    position: relative;
    top:1vh;
    height:45vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.articleTexts{
    font-size:12px;
}

.articleTitles{
    font-weight:600;
}

/* Table after */
#share2{
    position:relative;
    height:1vh;
    text-align:center;
}

#tableAfter{
    position: relative;
    height:8vh;
    margin-left: 30vw;
    margin-right: auto;
}

.shareButtons{
    position:relative;
    width:20vw;
}

#secondMail{
    position:relative;
    top:1vh;
    width:70vw;
    text-align:center;
    margin-left: 15vw;
    margin-right: auto;
}

#mail2{
    position:relative;
    top:1vh;
    text-align:center;
    width:50vw;
}

#mail2 p {
    font-size:8px;
}

#mailInput2{
    position:relative;
    width:50%;
    height:5vh;
    border: 2px solid black;
}

#mailButton2{
    position:relative;
    background-color: black;
    border:5px solid black;
    color:white;
    width:20vw;
    height:5vh;
}

/* Author bio */

#authorBio{
    position: relative;
    top:5vh;
    height:10vh;
}

#firstTD{
    position: relative;
    width:25%;
}

#authorImage2{
    position: relative;
    left:15vw;
    float:left;
    height:10vh;
    border-radius:50%;
}

#secondTD{
    position: relative;
    width:40%;
}

#authorName2{
    position:relative;
    top:2vh;
    text-align:left;
    font-weight:800;
}

#authorText{
    word-wrap: break-word;
    position:relative;
}

/* Recommended */ 
#recommended{
    height:10vh;
}

#recommended{
    position:relative;
    top:10vh;
    height:20vh;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}

#recomTitle{
    position:absolute;
    top:-1vh;
    left:3vh;
    background-color:white;
    font-size:10px;
    font-weight:800;
}

#recomTable{
    position:relative;
    height:80%;
}

/* Form */

#response{
    position:relative;
    top:10vh;
    height:30vh;
}

}