* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titre : CRIMSON TEXT   */

/*
  taille d'écran Bootstrap:
XS  min-width = 0

 Small devices sm (landscape phones, 576px and up)
  (min-width: 576px) 

 Medium devices  md(tablets, 768px and up)
  (min-width: 768px) 

 Large devices  lg (desktops, 992px and up)
  (min-width: 992px)

 Extra large devices xl (large desktops, 1200px and up)
  (min-width: 1200px) 
*/

@media only screen and (min-width : 320px) and (max-width : 500px) {

    .navbar-toggler-icon {
        color: black;
    }

    #onglets {
        display: flex;
        padding: 5px 0;
        text-align: center;
    }

    .loupe {
        color: black;
    }

    #navbar {
        height: 10vh;
        display: flex;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    }

    h1 {
        font-family: "Crimson text";
        font-size: 13vw;
        padding: 0;
    }

    .onglet {
        font-size: 0.9em;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }

    .title-section{
        border-bottom: 1px solid rgba(128, 128, 128, 0.4);
        margin: 1vh 0 2vh 0;
    }
    h3 {
        color: #777777;
        font-size: 1em;
        text-align: center;
        margin: 2px;
        padding: 3px;
        letter-spacing: 1px;
    }

    .carrousel {
        width: 100vw;
        height: 40vh;
        background-image: url(../assets/maindog.jpg);
        background-size: cover;
    }


    .article {
        display: flex;
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
        padding: 0;
        margin-bottom: 1vh;
        margin-left: 1vw;
        position: relative;
    }

    .article-img {
        background-size: cover;
        background-repeat: no-repeat;
        height: 15vh;
    }

    .title-article p {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-top: 3vw;
        margin-bottom: 3vw;
        font-weight: 600;
    }

    .readmore {
        text-align: right;
        align-content: space-between;
        position: absolute;
        right: 10px;
        bottom: 2px;
    }

    .readmore a {
        text-transform: uppercase;
        color: #f46700;
        font-size: 0.8em;
    }

    .f1 {
        background-image: url(../assets/dognature.jpeg);
    }

    .f2 {
        background-image: url(../assets/dogEat.jpg);
    }
    .f3 {
        background-image: url(../assets/skinnydog.jpeg);
    }

    .l1 {
        background-image: url(../assets/beach-dog.jpg);
    }

    .l2 {
        background-image: url(../assets/chihuahua.jpeg);
    }
    .l3 {
        background-image: url(../assets/threedogs.jpeg);
    }
}
