* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-size: 13px;
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    color: #414040;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titre : CRIMSON TEXT   */

/*
  taille d'écran Bootstrap:
XS  min-width = 0

 Small devices sm (landscape phones, 576px and up)
  (min-width: 576px) 

 Medium devices  md(tablets, 768px and up)
  (min-width: 768px) 

 Large devices  lg (desktops, 992px and up)
  (min-width: 992px)

 Extra large devices xl (large desktops, 1200px and up)
  (min-width: 1200px) 
*/


#onglets {
    display: flex;
    padding: 5px 0;
    text-align: center;
}

.loupe {
    color: black;
}

#navbar {
    height: 10vh;
    display: flex;
    padding-bottom: 5px;
}

h1 {
    font-family: "Crimson text";
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    text-align: center;
    color: #414040;
}

h2 {
    color: #e56100;
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 0.1vw;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
}

h4 {
    position: absolute;
    background-color: white;
    top: -10px;
    color: #414040;
    text-transform: uppercase;
    font-size: 0.7em;
    margin: 0;
    padding: 1vh;
    font-weight: 600;
}

.onglet {
    font-size: 0.85em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.main-content {
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    border-top: 2px solid #f7f7f7;
}

.carrousel {
    margin: 0;
<<<<<<< HEAD
=======
    background-image: url(../../assets/maindog.jpg);
    background-size: cover;
>>>>>>> marco2
    position: relative;
    padding: 0;

}

figure img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banniere {
    margin: 0;
    padding: 2vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    text-align: right;
}

.title-ban {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.other-figure {
    display: none;
}

.title-section {
    margin: 3vh 0 2vh 0;
    padding-top: 1vh;
    border-top: 3px solid #f7f7f7;
    position: relative;
}

.featured,
.latest {
    margin: 0;
    padding: 0;
}

.latest-row {
    margin: 0;
    padding: 0;
}

.article {
    border-bottom: 1px solid #f7f7f7;
    padding: 0;
    margin: 0;
    margin-left: 0 !important;
    margin-top: 2vw;
    position: relative;
    height: auto;
}

.article-img {
    padding: 0;
    margin: 0;
    padding-right: 2vw;
}

.article-img img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.latest-row .cat-second {
    display: none;
}

.cat-article {
    display: none;
}

.text-article {
    padding: 0;
    margin: 0;
}

.title-article {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding-right: 1vh;
    font-weight: 600;
    line-height: 5vw;
}

.start-article {
    display: none;
}

.share-btn {
    display: none;
}

.readmore {
    text-align: right;
    align-content: space-between;
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.readmore a {
    text-transform: uppercase;
    color: #f46700;
    font-size: 0.8em;
}


/* FOOTER CSS BELOW */

.container-fluid {
    padding: 0 !important;
}

.footer-up {
    margin: 0;
    padding: 0;
}

.footer-title {
    margin: 0;
    padding: 1vh;
    color: #959595;
    font-size: 1.1em;
}

#allCategories {
    margin: 0;
    padding: 0.2vh 1vh;
}

#allCategories a {
    text-align: center;
    margin: auto;
    padding: 0;
    padding-bottom: 1vh;
    font-size: 1.2em;
    font-weight: 100;
}

#instaPictures {
    text-align: center;
    padding: 0;
    padding-bottom: 2vh;
    margin: 0;
    width: 100vw;
}

.col-footer p {
    margin: 0;
    letter-spacing: 1px;
}

footer {
    background-color: #3A3E43;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

a img {
    width: 9vh;
    height: 9vh;
}

.f-AllAside {
    display: none;
}

#instagram {
    padding: 0;
    margin: 0;
}

.thumbnail-md {
    display: none;
}

#social ion-icon {
    background-color: #3A3E43;
    height: 2vh;
    width: 2vh;
    padding: 1vh;
    border-radius: 50%;
}

#social {
    background-color: #303336;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 6vh;
}

.social-links {
    position: absolute;
    right: 2vw;
}

#social a {
    text-align: center;
    padding: 1vh 0;
    align-items: center;
    margin-right: 2vh;
}

/*----
----------   TABLET md --------
-----*/


@media only screen and (min-width : 768px) {

    body {
        font-size: 14px;
        width: 100vw;
    }

    main {
        width: 85vw;
        margin: auto;
    }

    .navbar-toggler {
        display: none;
    }

    .form-inline {
        display: none;
    }

    #navbar {
        height: 10vh;
        display: flex;
        padding-bottom: 5px;
    }

    #onglets {
        padding: 10px 0;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 1px;
    }

    h4 {
        top: -2.5vh;
        font-size: 0.9em;
        letter-spacing: 1.5px;
        margin-left: 4vh;
        padding: 1vh;
        font-weight: 600;
    }

    .onglet {
        font-size: 1.2em;
    }

    .banniere {
        padding: 1.5vw;
        padding-right: 4vw;
        height: 10vw;
    }

    .title-ban {
        padding: 0;
        font-weight: 400;
        font-size: 1.6em;
    }

    .article {
        margin-bottom: 2vh;
        margin-left: 4.5vw;
    }


    .text-article {
        padding: 0;
        margin: 0;
        height: auto;
    }

    .article-img {
        height: auto;
    }

    .title-article {
        font-size: 1.4em;
        font-weight: 400;
        line-height: 4vw;
        margin-bottom: 0;
    }

    .start-article {
        display: block;
        font-size: 1.4em;
        font-weight: 200;
    }

    .readmore {
        text-align: right;
        position: absolute;
        right: 10px;
        bottom: 2px;
    }

    .readmore a {
        text-transform: uppercase;
        color: #f46700;
        font-size: 1em;
    }

    .thumbnail-md {
        display: block;
        height: auto;
    }

    footer {
        position: relative;
    }

    footer .col-footer {
        padding: 0;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        padding-top: 3.5vh;
        padding-left: 1vw;
        padding-bottom: 0.5vw;
        font-size: 0.8em;
    }

    #allCategories {
        padding: 0;
        margin: 0;
        margin-right: 30px;
    }

    #allCategories a {
        margin: 0;
        text-align: left;
        font-size: 0.8em;
        border-bottom: 1px solid #4d4d4d;
        padding: 1.2vh 0;
    }

    .f-AllAside {
        display: block;
    }

    .f-aside {
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 1.5vh;
        padding-right: 2vh;
    }

    .f-aside .aside-img {
        padding: 0;
        margin: 0;
        height: 50px;
    }

    .f-aside img {
        padding: 0;
        margin: 0;
        height: 100%;
        width: auto;
    }

    .f-article {
        padding: 0;
    }

    footer .aside-title {
        padding: 0;
        margin: 0;
        color: white;
        font-weight: 200;
        text-transform: capitalize;
        font-size: 0.8em;
    }

    .thumbnail-md {
        display: block;
        height: auto;
    }

    #instaPictures a {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    #instaPictures a img {
        padding: 0;
        margin: 0;
        height: 60px;
        width: 100%;
    }

    #social ion-icon {
        background-color: #3A3E43;
        height: 2vh;
        width: 2vh;
        padding: 1vh;
        border-radius: 50%;
    }

    #social {

        height: 5vh;
    }

    .social-links {
        right: 16vw;
    }

    #social a {
        margin-right: 0;
    }

    #social ion-icon {
        height: 2vh;
        width: 2vh;
        padding: 0.5vh;
        border-radius: 50%;
    }
}


/*----
-------------- DESKTOP lg -----------
--------*/

@media only screen and (min-width : 992px) {

    body {
        font-size: 16px;
        width: 100vw;
    }

    main {
        width: 60vw;
        margin: auto;
    }

    #navbar {
        height: 90px;
        display: flex;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2.5em;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 0.5em;
        letter-spacing: 0;
        font-weight: 600;
        color: #f46700;
    }

    h4 {
        top: -12px;
        text-align: left;
        padding-left: 0;
        font-size: 0.5em;
    }

    .onglet {
        font-size: 0.6em;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }

    .main-content {
        margin-bottom: 50px;
        padding-top: 20px;
    }

    .carrousel {
        height: auto;
    }

    figure img {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }

    .banniere {
        position: inherit;
        margin: 0;
        text-align: center;
        padding: 0;
        height: auto;
    }

    .title-ban {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        padding: 0;
        margin: 0;
    }

    .other-figure {
        display: block;
        margin: 0;
        padding: 0;
    }

    .aside-article {
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }

    .asideOne {
        margin: 0;
        padding: 0;
        padding-left: 1.7vw;
    }

    .aside-img {
        margin: 0;
        padding: 0;
    }

    .aside-title {
        text-transform: uppercase;
        margin: 0;
        font-size: 0.6em;
        letter-spacing: 0.05em;
        font-weight: 600;
        padding: 10px 0;
    }

    .other-figure img {
        padding: 0;
        margin: 0;
    }

    .featured {
        margin-bottom: 4vw;
    }

    .article {
        margin-left: 4.5vw;
    }

    .article-img {
        height: auto;
    }

    .cat-article {
        display: flex;
        border-right: 3px solid #f7f7f7;
        padding: 0;
        margin: 1vw 0;
    }

    .latest-row .text-article {
        text-align: center;
        padding-right: 2vw;
    }

    .latest-row img {
        padding-bottom: 1vw;
    }

    .cat-first,
    .cat-second {
        color: #f46700;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-size: 0.5em;
        font-weight: 600;
    }

    .latest-row .cat-second {
        display: none;
    }

    .title-article {
        font-size: 0.7em;
        font-weight: 600;
        line-height: 140%;
        margin: 0;
        margin-left: 0;
        padding: 10px 0;
    }

    .start-article {
        display: block;
        font-size: 0.7em;
        font-weight: 200;
    }

    .share-btn {
        display: flex;
        align-items: center;
        color: #959595;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 0.6em;
    }

    .share-btn ion-icon {
        border: 1px solid #959595;
        border-radius: 50%;
        padding: 5px;
        font-size: 1.5em;
        color: black;
        margin-right: 7px;
    }

    .readmore {
        display: none;
    }

    .latest-row .cat-second {
        display: block;
    }

    .footer-title {
        font-size: 0.7vw;
    }

    #allCategories a {
        font-size: 0.7vw;
        padding: 12px 0;
    }

    .f-aside {
        margin-bottom: 15px;
        padding-right: 20px;
    }


    .f-aside .aside-img {
        height: 40px;
    }

    footer .aside-title {
        text-transform: capitalize;
        font-size: 0.7vw;
    }
     #instaPictures a img {
        height: 60px;
        width: 65px;
    }


    .social-links {
        right: 18vw;
    }

    #social ion-icon {
        height: 13px;
        width: 13px;
        padding: 10px;
    }
}
