* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: #414040;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titre : CRIMSON TEXT   */

/*
  taille d'écran Bootstrap:
XS  min-width = 0

 Small devices sm (landscape phones, 576px and up)
  (min-width: 576px) 

 Medium devices  md(tablets, 768px and up)
  (min-width: 768px) 

 Large devices  lg (desktops, 992px and up)
  (min-width: 992px)

 Extra large devices xl (large desktops, 1200px and up)
  (min-width: 1200px) 
*/


.navbar-toggler-icon {
    color: black;
}

#onglets {
    display: flex;
    padding: 5px 0;
    text-align: center;
}

.loupe {
    color: black;
}

#navbar {
    height: 10vh;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

h1 {
    font-family: "Crimson text";
    font-size: 13vw;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    text-align: center;
}

h2 {
    color: #e56100;
    text-transform: uppercase;
    font-size: 4vw;
    padding-bottom: 0.1vw;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
}

h4 {
    color: #959596;
    font-size: 4vw;
    text-align: center;
    margin: 2px;
    padding: 3px;
    letter-spacing: 1px;
    font-weight: 300;
}

.onglet {
    font-size: 3.5vw;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.title-section {
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    margin: 1vh 0 2vh 0;
    font-size: 3.5vw;
}

.carrousel {
    width: 100vw;
    height: 40vh;
    background-image: url(/assets/maindog.jpg);
    background-size: cover;
    position: relative;
    padding: 0;
}

.banniere {
    margin: 0;
    padding: 2vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    bottom: 0;
    right: 0;
    height: 15vw;
    text-align: right;
}

#title-ban {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5vw;
    margin: 0;
}

.article {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    padding: 0;
    margin-bottom: 1vh;
    margin-left: 1vw;
    position: relative;
}

.article-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
}

.text-article {
    padding: 0;
}

.title-article {
    text-transform: uppercase;
    font-size: 4vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 1vh;
    font-weight: 600;
    line-height: 5vw;
    width: 70%;
}

.readmore {
    text-align: right;
    align-content: space-between;
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.readmore a {
    text-transform: uppercase;
    color: #f46700;
    font-size: 3.2vw;
}

.f1 {
    background-image: url(/assets/dognature.jpeg);
}

.f2 {
    background-image: url(/assets/dogEat.jpg);
}

.f3 {
    background-image: url(/assets/skinnydog.jpeg);
}

.l1 {
    background-image: url(/assets/beach-dog.jpg);
}

.l2 {
    background-image: url(/assets/chihuahua.jpeg);
}

.l3 {
    background-image: url(/assets/threedogs.jpeg);
}

@media only screen and (min-width : 415px) and (max-width : 900px) {

    #navbar {
        height: 10vh;
        display: flex;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    }

    #onglets {
        padding: 10px 0;
    }

    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 2.5vw;
        font-weight: 600;
        letter-spacing: 1px;
    }

    h4 {
        font-size: 0.8em;
        margin: 5px;
        letter-spacing: 1.5px;
    }

    .onglet {
        font-size: 2.5vw;
    }

    .title-section {
        font-size: 3.5vw;
    }

    .banniere {
        padding: 1.5vw;
        padding-right: 4vw;
        height: 10vw;
    }

    #title-ban {
        font-weight: 400;
        font-size: 3.5vw;
    }

    .article {
        margin-bottom: 2vh;
        margin-left: 4.5vw;
    }

    .article-img {
        height: 15vh;
    }

    .title-article p {
        font-size: 2.6vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        font-weight: 400;
        line-height: 4vw;
    }

    .readmore {
        text-align: right;
        align-content: space-between;
        position: absolute;
        right: 10px;
        bottom: 2px;
    }

    .readmore a {
        text-transform: uppercase;
        color: #f46700;
        font-size: 2vw;
    }
}


/* FOOTER CSS BELOW */

.container-fluid {
    padding: 0 !important;
}

.container-fluid .row {
    background-color: #464646;
    font-size: 12px
}

#titleCategories {
    padding-top: 1vh;
    margin: 0;
}

#allCategories {
    padding: 0.2vh 1vh;
}

#allCategories a {
    text-align: center;
    letter-spacing: 1px;
    margin: 0.6vh;
}

#titleCategories p,
#instagram p {
    margin: auto;
    color: #959595;
}

#instagram {
    margin: 0;
    padding: 1vh 0;
}

#instaPictures {
    padding-bottom: 7px;
}

#instaPictures a {
    text-align: center;
    padding-bottom: 1vh;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

a img {
    width: 9vh;
    height: 9vh;
}

#social {
    background-color: #323232;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}

#social a {
    background-color: #464646;
    text-align: center;
    color: white;
    padding: 1vh;
    border-radius: 50%;
}

#social ion-icon {
    font-size: 2em;  
}
