* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-size: 13px;
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    color: #414040;
}

/*  ORANGE color: #f46700;   */
/* FONT pour les titre : CRIMSON TEXT   */

#onglets {
    display: none;
    padding: 5px 0;
    text-align: center;
}

.loupe {
    font-size: 2em;
    color: black;
}

.ricerca {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000000; /* Fallback color */
    background-color: #00000066; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
    border-radius: 5px;   
}

/*endsep*/

form {
    padding-right: 0;
}

.btn-default {
    padding: .5rem .75rem 0.125rem;
}


#navbar {
    height: 10vh;
    padding-bottom: 5px;
}

.facebook,
.twitter,
.insta {
    display: none;
}

h1 {
    font-family: "Crimson text";
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    text-align: center;
    color: #303336;
}
h1:hover {
    color: #303336;
    text-decoration: none;
}

h2 {
    color: #e56100;
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 0.1vw;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
}

h4 {
    position: absolute;
    background-color: white;
    top: -10px;
    color: #414040;
    text-transform: uppercase;
    font-size: 0.7em;
    margin: 0;
    padding: 1vh;
    font-weight: 600;
}

.onglet {
    text-decoration: none;
    color: #303336;
    font-size: 0.85em;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
}
.onglet:hover {
    text-decoration: none;
    color: #303336;
    border-bottom: 2px solid #f46700;
    padding: 0;
}

.main-content {
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    border-top: 2px solid #f7f7f7;
}

.carrousel {
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 40vh;
}

.imghome {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.banniere {
    margin: 0;
    padding: 2vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    text-align: right;
}

.title-ban {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.other-figure {
    display: none;
}

.title-section {
    margin: 3vh 0 2vh 0;
    padding-top: 1vh;
    border-top: 3px solid #f7f7f7;
    position: relative;
}

.featured,
.latest {
    margin: 0;
    padding: 0;
}

.latest-row {
    margin: 0;
    padding: 0 5%;
    ;
}

.article {
    border-bottom: 1px solid #f7f7f7;
    padding: 0;
    margin: 0;
    margin-left: 0 !important;
    margin-top: 2vw;
    position: relative;
    height: auto;

}

.article-img {
    padding: 0;
    margin: 0;
    height: 20vh;
}

.article-img img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 90%;
}


.latest-row .cat-second {
    display: none;
}

.latest-row img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.cat-article {
    display: none;
}

.text-article {
    padding: 0;
    margin: 0;
}

.title-article {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding-left: 1vh;
    font-weight: 600;
    line-height: 5vw;
}

.start-article {
    display: none;
}

.share-btn {
    display: none;
}

.readmore {
    text-align: right;
    align-content: space-between;
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.readmore a {
    text-transform: uppercase;
    color: #f46700;
    font-size: 0.8em;
}

.btn-circle {
    border-radius: 50%;
    text-align: center;
    line-height: 1.42857;
    background-color: white;
    border: 1px solid #959595;
    font-size: 15px;
    width: 35px;
    height: 35px;
    padding: 6px;
}

.btn-dark {
    background-color: #959595;
}

.btn-circle ion-icon {
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 0;
    margin: 0;
}

/* FOOTER CSS BELOW */

.container-fluid {
    padding: 0 !important;
}

.footer-up {
    margin: 0;
    padding: 0;
}

.footer-title {
    margin: 0;
    padding: 1vh;
    color: #959595;
    font-size: 1.1em;
}

#allCategories {
    margin: 0;
    padding: 0.2vh 1vh;
}

#allCategories a {
    text-align: center;
    margin: auto;
    padding: 0;
    padding-bottom: 1vh;
    font-size: 1.2em;
    font-weight: 100;
}
#allCategories a:hover {
    color: #e56100;
    }

#instaPictures {
    text-align: center;
    padding: 0;
    padding-bottom: 2vh;
    margin: 0;
    width: 100vw;
}

.col-footer p {
    margin: 0;
    letter-spacing: 1px;
}

footer {
    background-color: #3A3E43;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    height: 5vh;
}

footer #instaPictures a {
    height: 18vw;
}

footer #instaPictures img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.f-AllAside {
    display: none;
}

#instagram {
    padding: 0;
    margin: 0;
}

.thumbnail-md {
    display: none;
}

#social ion-icon {
    background-color: #3A3E43;
    font-size: 0.7em;
    padding: 4px;
    border-radius: 50%;
}

#social {
    background-color: #303336;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 7vh;
}

.social-links {
    position: absolute;
    right: 2vw;
}

#social a {
    text-align: center;
    padding: 1vh 0;
    align-items: center;
    margin-right: 2vh;
}

/*----TABLET md
-------------------------$$$$$$$----  TABLET md --------$$$$$$$$$---------------------
-----*/

@media only screen and (min-width : 768px) {

    body {
        font-size: 14px;
        width: 100vw;
    }

    main {
        width: 85vw;
        margin: auto;
    }

    #navbar {
        height: 110px;
    }

    .navbar-toggler {
        display: none;
    }
    nav {
        width: 100vw;
        background-color: white;
        position: fixed;
        z-index: 20;
        padding-bottom: 15px;
    }
    .loupe {
        color: black;
        font-size: 20px;
    }

    .facebook,
    .twitter,
    .insta {
        display: flex;
    }
    .headerSocial {
        margin: 4px;
    }

    .headerSocial a {
        text-decoration: none;
        color: black;
    }

    .headerBottom {
        margin-top: 7px;
        display: flex;
    }

    .headerCat {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 11px;
    }

    .headerCat a {
        margin-bottom: 0.5rem;
        text-decoration: none;
        color: black;
    }

    input {
        border-radius: 5px;   
    }

    .btn-default {
        font-size: 1.8em;
    }

    #onglets {
        display: flex;
        padding: 0;
     
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 1px;
    }

    h4 {
        top: -2.5vh;
        font-size: 0.9em;
        letter-spacing: 1.5px;
        margin-left: 0;
        padding: 1vh;
        font-weight: 600;
    }

    .onglet {
        font-size: 1em;
        padding: 10px;
    }
    
    .banniere {
        padding-right: 4vw;
        height: 80px;
    }

    .imghome {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .title-ban {
        padding: 0;
        font-weight: 400;
        font-size: 1.6em;
    }
   
    .article {
        margin-bottom: 2vh;
        padding: 0 6px;
    }

    .text-article {
        padding: 0;
        margin: 0;
        height: auto;
        line-height: 160%;
    }

    .featured .article-img {
        padding-right: 8px;
    }

    .title-article {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 2px;
        line-height: 140%;
    }

    .start-article {
        display: block;
        font-size: 1.4em;
        font-weight: 200;
    }

    .readmore {
        text-align: right;
        position: absolute;
        right: 10px;
        bottom: 2px;
    }

    .readmore a {
        text-transform: uppercase;
        color: #f46700;
        font-size: 1em;
    }

    .thumbnail-md {
        display: block;
        height: auto;
    }

    footer {
        position: relative;
    }

    footer #instaPictures a {
        margin: 0;
        height: 70px;
        padding: 3px;
    }

    footer #instaPictures img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
    }

    footer .col-footer {
        padding: 0;
    }

    .footer-title {
        margin: 0;
        padding: 0;
        padding-top: 3.5vh;
        padding-left: 1vw;
        padding-bottom: 0.5vw;
        font-size: 0.8em;
    }

    #allCategories {
        padding: 0;
        margin: 0;
        margin-right: 30px;
    }

    #allCategories a {
        margin: 0;
        text-align: left;
        font-size: 0.8em;
        border-bottom: 1px solid #4d4d4d;
        padding: 1.2vh 0;
    }

    .f-AllAside {
        display: block;
    }

    .f-aside {
        display: flex;
        margin: 0;
        padding: 0;
        padding-right: 2vh;
        padding-bottom: 10px;
    }

    .f-aside .aside-img {
        margin: 0;
        height: 70px;
        padding: 0 3px 3px 0;
    }

    .f-aside img {
        padding: 0;
        margin: 0;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
    }

    .f-article {
        padding: 0;
        margin: 0;
    }

    footer .aside-title {
        padding: 0;
        margin: 0;
        color: white;
        font-weight: 200;
        text-transform: capitalize;
        font-size: 0.8em;
    }

    .thumbnail-md {
        display: block;
        height: auto;
    }

    #instaPictures a {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    #instaPictures a img {
        padding: 0;
        margin: 0;
        height: 60px;
        width: 100%;
    }

    #social ion-icon {
        background-color: #3A3E43;
        height: 2vh;
        width: 2vh;
        padding: 1vh;
        border-radius: 50%;
    }

    #social {
        height: 6vh;
    }

    .social-links {
        right: 16vw;
    }

    #social a {
        margin-right: 0;
    }

    #social ion-icon {
        font-size: 0.7em;
        padding: 3px;
        border-radius: 50%;
    }
}

/*-$$$$$$$$$$$$$$$$$$$$---
----------------------------- DESKTOP lg -----------------------------
--------$$$$$$$$$$$$$$$$$$$$$*/

@media only screen and (min-width : 992px) {

    body {
        font-size: 16px;
        width: 100vw;
    }

    main {
        width: 60vw;
        margin: auto;
    }

    #navbar {
        height: 90px;
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    }

    h1 {
        font-size: 2.1em;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }

    h2 {
        margin: 5px;
        font-size: 0.5em;
        letter-spacing: 0;
        font-weight: 600;
        color: #f46700;
    }

    h4 {
        top: -12px;
        text-align: left;
        padding-left: 0;
        font-size: 0.5em;
    }

    .onglet {
        font-size: 0.6em;
        text-transform: uppercase;
        padding: 0;
        padding-bottom: 10px;
    }

    .main-content {
        margin-bottom: 50px;
        padding-top: 20px;
        height: 300px;
    }

    .carrousel {
        width: 413px;
        height: 300px;
    }

    .imghome {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 90%;
    }

    .banniere {
        width: 100%;
        position: inherit;
        margin: 0;
        text-align: center;
        padding: 0;
        height: auto;
    }

    .title-ban {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9em;
        padding: 0;
        margin: 0;
        line-height: 110%;
    }

    .other-figure {
        display: block;
        margin: 0;
        padding: 0;
    }

    .aside-article {
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }

    .other-figure .aside-img {
        position: relative;
        padding: 0;
        margin: 0 auto;
        height: 100px;
    }
    
    .other-figure .aside-img img{
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    .asideOne {
        margin: 0;
        padding: 0;
        padding-left: 1.7vw;
    }

    .aside-img {
        margin: 0;
        padding: 0;
    }

    .aside-title {
        text-transform: uppercase;
        margin: 0;
        font-size: 0.5em;
        letter-spacing: 0.05em;
        font-weight: 600;
        padding: 10px 0;
    }

    .other-figure img {
        padding: 0;
        margin: 0;
    }

    .featured {
        margin-bottom: 4vw;
    }

    .article {
        margin-left: 4.5vw;
    }

    .cat-article {
        display: flex;
        border-right: 3px solid #f7f7f7;
        padding: 0;
        margin: 0;
    }

    .cat-article p {
        padding-right: 5px;
    }

    .article-img {
        height: 160px;
    }

    .article-img img {
        height: 85%;
    }

    .latest-row .article-img {
        height: 140px;
    }

    .latest-row .article-img img {
        height: 100%;
    }

    .latest-row .text-article {
        text-align: center;
        padding-right: 2vw;
    }

    .latest-row img {
        padding-bottom: 1vw;
    }

    .latest-row .text-article {
        padding: 0;

    }

    .cat-first,
    .cat-second {
        color: #f46700;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-size: 0.4em;
        font-weight: 600;
    }

    .latest-row .cat-second {
        display: none;
    }

    .text-article {
        line-height: 100%;
        padding-left: 15px;
    }

    .title-article {
        font-size: 0.65em;
        font-weight: 600;
        line-height: 140%;
        margin: 0;
        margin-left: 0;
        padding: 4px 0;
    }

    .start-article {
        display: block;
        font-size: 0.6em;
        font-weight: 200;
        padding: 5px 0;
        margin-bottom: 5px;
    }

    .share-btn {
        display: flex;
        align-items: center;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 0.5em;
        padding-left: 15px;
    }

    .share-btn ion-icon {
        border: 1px solid #ebebeb;
        border-radius: 50%;
        padding: 2px;
        font-size: 1.1em;
        color: black;
        margin-right: 7px;
    }

    .readmore {
        display: none;
    }

    .latest-row .cat-second {
        display: block;
    }

    .footer-title {
        font-size: 0.7vw;
    }

    #allCategories a {
        font-size: 0.7vw;
        padding: 12px 0;
    }

    .f-aside {
        margin: 0;
        padding: 0;

        padding-right: 20px;
    }

    .f-aside .aside-img {
        height: 60px;
    }

    .f-aside .aside-img img {
    height: 90%;
    }

    footer .aside-title {
        text-transform: capitalize;
        font-size: 0.4em;
        font-weight: 600;
    }

    footer #instaPictures a {
        text-align: center;
        height: 70px;
        margin: 0;
        padding: 0;
        padding-bottom: 7px;
    }

    footer #instaPictures img {
        padding: 0;
        object-fit: cover;
        object-position: 50% 50%;
        width: 80%;
        height: 100%;
    }

    .social-links {
        right: 18vw;
    }

    #social ion-icon {
        font-size: 0.1em;
        padding: 4px;
    }

    #social {
        height: 80px;
        padding-top: 0;
    }
}